.login {
  padding: 20px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__wrapper {
    margin-top: -75px;
  }

  &__link {
    color: #d13232;
  }

  &__icon {
    width: 100px;
    svg: {
      fill: #FFF;
    }
  }
}