.login {
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  &__link {
    color: #d13232;
    margin-top: 20px;
    display: block;
  }

  &__icon {
    width: 100px;
    svg: {
      fill: #FFF;
    }
  }
}