body {
  background: #FFFFFF !important;
  color: #222;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.input {
  display: block !important;
}

.send {
  margin-top: 20px !important;
}

form {
  width: 80%;
}

.card {
  width: 90%;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}