html, body, #root {
  height: 100%;
}

body {
  background: #F5F5F5 !important;
  color: #222;
}

button {
  background: transparent;
  border: none;
}

.page {
  padding: 20px 5%;
}

.primary-color {
  color: #d13232
}

.main {
  padding-bottom: 80px;
  text-align: center;
  height: 100%;
}

.main .bottom-navigation {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-bottom: 15px;
  border-top: 1px solid #ccc;
  background-color: #d13232 !important;

  .icon {
    color: #FFFFFF;
  }
}

.field {
  margin: 10px 0 !important;

  &--error {
    color: #FF0000;
    font-size: 10px;
    text-align: right;
    line-height: 10px;
    display: block;
  }
}

a {
  text-decoration: none;
}

hr.divider {
  margin: 15px 0
}