body {
  background: #F5F5F5 !important;
  color: #222;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.input {
  display: block !important;
  margin: 10px !important;
}

.send {
  margin-top: 20px !important;
}

form {
  width: 80%;
}

.card {
  width: 90%;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.loader {
  border: 3px solid rgba(63, 81, 181, 0.2);
  border-top-color: #3f51b5;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 1s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1.5em;
  margin-top: -1.5em;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

hr.divider {
  margin: 15px 0
}